<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>angularjs shopping cart</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/chart.css">
      <link rel="stylesheet" type="text/css" href="../Home/fonts/font-awesome-4.7.0/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="../Home/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="css/profile.css">
      <link rel="stylesheet" type="text/css" href="../Home/styles/layout.css">
      <link rel="stylesheet" href="../Home/styles/layout.css" type="text/css">
      <script type="text/javascript" src="js/profile.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/bootstrap/js/popper.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/daterangepicker/moment.min.js"></script>
      <script src="vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
      <link rel="stylesheet" href="styles/layout.css" type="text/css">


</head>

<body>
  <div class="wrapper row1">
    <header id="header" class="clear">
      <div id="hgroup">
        <h1><a href="Home/home_page.html">TWENTY FOR EVER</a></h1>
        <h2>Shopping Online</h2>
      </div>
      <nav>
        <ul>
          <li><a href="Home/home_page.html">HOME</a></li>
          <li><a href="#">CHART</a></li>
          <li><a href="register.html">ACCOUNT</a></li>
          <li><a href="index.html">LOGOUT</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
  <div class="col-md-6">
    <h2>  <br><br><br>My Shopping Chart</h2>
    <table class="table table-hover">
      <thead>
        <th>ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tbody id="ok">
        <tr ng-repeat="myItem in myItems | reverse">
          <td>{{ myItem.id }}</td>
          <td>{{ myItem.name }}</td>
          <td>$ {{ myItem.price }}</td>
          <td>{{ myItem.count }}</td>
        </tr>
      </tbody>
    </table>
    <span class="text-center" ng-show="myItems.length == 0">
      Your shopping cart is empty.
    </span>
    <div class="clearfix"></div>
    <span class="pull-right alert alert-success">Total Price: $ {{ !totalPrice ? "0" : totalPrice | number:0 }}</span>
    <button ng-click="removeBasket()" ng-show="myItems.length > 0" class="pull-left alert alert-danger">Empty your cart</button>

  </div>


</div>
<!--footer-->
<div class="wrapper row3">
  <div id="footer" class="clear">
    <!-- Section One -->
    <section class="one_quarter">
      <h2 class="title">HELP & INFORMATION</h2>
      <nav>
        <ul>
          <li><a href="#">help</a></li>
          <li><a href="#">Track order</a></li>
          <li><a href="#">Amaizing Discount</a></li>
        </ul>
      </nav>
    </section>
    <!-- Section Two -->
    <section class="one_quarter">
      <h2 class="title">ABOUT US</h2>
      <nav>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Jobs in twenty for ever </a></li>
          <li><a href="#">Corparagte Responsibility</a></li>
        </ul>
      </nav>
    </section>
    <!-- Section Three -->
    <section class="one_quarter">
      <h2 class="title">MORE FROM US</h2>
      <nav>
        <ul>
          <li><a href="#">Twenty for ever Marketplace</a></li>
          <li><a href="#">Crazy Black Friday</a></li>
        </ul>
      </nav>
    </section>
    <!-- Section Four -->
    <section class="one_quarter lastbox">
      <h2 class="title">SHOPING FROM</h2>
      <nav>
        <ul>
          <li><a href="#">You're in &nbsp &nbsp<img src="images/icons/israel-icon-small.png" alt="Israel flag"></a></li>
        </ul>
      </nav>
    </section>
    <!-- / Section -->
  </div>
</div>
<!-- Copyright -->
<div class="wrapper row4">
  <footer id="copyright" class="clear">
    <p class="fl_left">Copyright &copy;  - All Rights Reserved -</p>
    <p class="fl_right">Orgad Shushan</p><br>
      <p class="fl_right">Ron Ellenbogen</p>
  </footer>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
<script  src="js/chart.js"></script>
</body>

</html>
